.curiosities {
  background-color: $background-curiosities;

  &__container {
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    @include media(desktop) {
      flex-direction: column;
      
    }

    @include media(phone) {
      flex-direction: column;
    }

    &:hover {
      img {
        opacity: .4;
      }
    }
  }

  h2 {
    margin-bottom: 40px;

    @include media(desktop) {
      text-align: center;
      margin-top: 50px;
    }
    @include media(phone) {
      text-align: center;
      margin-top: 0;
    }
  }

  img {
    height: auto;
    opacity: .2;
    transition: opacity .5s ease;

    @include media(desktop-up) {
      width: 300px;
    }

    @include media(desktop) {
      width: 200px;
    }
    
    @include media(phone) {
      width: 100px;
    }
  }

  &__list {


    &__item {
      list-style: decimal;
      margin: 10px 0;

      &::marker {
        color: $corTextoSecundario;
        font-weight: bold;
      }
    }
  }
}