.movie-description {
  background-color: $background-description;
  width: 100%;

  &__container {
    display: flex;
    padding: 10vh;
    column-gap: 40px;

    @include media(phone) {
      flex-direction: column;
    }
  }

  &__watch,
  &__crews {
    flex: 1;
    margin-top: 50px;
  }

  &__watch {
    @include media(phone) {
      order: 1;
    }
  }

  &__details {
    flex: 2;

    &__genre-year {
      font-family: sans-serif;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}