.footer {
  background-color: $background-footer;

  &__container {
    padding: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .7;

    @include media(phone) {
      padding: 0 0 3vh 0;
    }
  }

  p {
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 70px;
  }
}