.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: right;

  &__container {
    padding: 15px 50px;
  }

  &__image {
    max-width: 70px;
    width: 100%;
    opacity: .5;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}