.movie-crew {

  background-color: black;
  text-align: center;

  &__container {
    width: 100%;
    padding: 5vw 10vw;

    h2 {
      margin-bottom: 60px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    row-gap: 60px;

    &__item {
      width: 15%;
      transition: transform 1s ease;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}