.trailer {
  position: relative;
  text-align: center;
  background-image: url('../images/superman_hero3.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  box-sizing: border-box;

  &__container {
    background-color: rgba(74, 63, 54, .95);
    padding: 5vw 10vw;
    height: 100%;
  }

h2 {
    margin-bottom: 40px;
  }

  &__movie {
    width: 600px;
    height: 350px;
    margin: 0 auto;
  }
}