@import './configs/configs';
@import './configs/variaveis';

@import 'header';
@import 'hero';
@import 'description';
@import 'trailer';
@import 'faq';
@import 'wallpapers';
@import 'movie-crew';
@import 'curiosities';
@import 'footer';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cocogoose, sans-serif;
  color: $corTextoPrincipal;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
}

.title {
  @include title;
}

.secondary-text {
  color: $corTextoSecundario;
}

.sans {
  font-family: sans-serif;
}