$corTextoPrincipal: white;
$corTextoSecundario: rgba(255,255,255,0.5);

$background-wallpapers: #13151d;
$background-trailer: rgba(74, 63, 54, .95);
$background-movie-crew: #292929;
$background-footer: #000000;
$background-faq: #040714;
$background-description: rgb(77,71,64);
$background-curiosities: #4d4740;